@use '../../styles/abstract/' as a;

.container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &__title {
    font-size: a.$font-13;
    font-weight: a.weight(medium);
    text-transform: uppercase;
    margin-block: 0;
    color: a.$mediumGray;
    letter-spacing: 0.2em;
  }

  &__color {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: green;
  }
}
